<div class="login-page-wrapper">
  <div class="branding-section">
    <div class="branding-content">
      <img src="assets/images/fcc_logo.png" alt="Logo BUAP" class="brand-logo mb-4" />
      <h1>Sistema de Gestión Escolar</h1>
      <p>Plataforma centralizada para alumnos y administradores.</p>
    </div>
  </div>

  <div class="form-section">
    <mat-card class="login-card">
      <mat-card-header class="d-flex flex-column align-items-center text-center">
        <img src="assets/images/Buap.png" alt="Logo Sistema Escolar" class="form-logo" />
        <mat-card-title>
          <h2 class="h4 mt-3">Iniciar Sesión</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <p class="text-muted">Por favor, ingresa tus credenciales</p>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="w-100">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              type="email"
              placeholder="ejemplo@correo.com"
              name="email"
              [(ngModel)]="email"
              required
            >
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="passwordVisible ? 'text' : 'password'"
              name="password"
              [(ngModel)]="password"
              (keyup.enter)="onSubmit()"
              required
            >
            <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" type="button">
              <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            class="w-100 mt-2 login-button"
            type="submit"
            [disabled]="!email || !password"
          >
            <i class="bi bi-door-open-fill me-2"></i>
            INICIAR SESIÓN
          </button>

          <div class="text-center mt-4">
            <a class="register-link" routerLink="/registro-usuario">¿No tienes una cuenta? <strong>Regístrate</strong></a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>